@using WebUI.App_GlobalResources;
@{
    ViewBag.Title = @GlobalResource.home_title;
    ViewBag.section = @GlobalResource.home_cards;
}

@section styles {
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/DataTables/css")
    <link rel="stylesheet" type="text/css" href="~/Content/View/cards.css">
}

@section scripts {
    <script>
                var function_delete_cards = '@System.Configuration.ConfigurationManager.AppSettings["function_delete_cards"]';
    </script>
    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/DataTables")
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/View/common.js" type="text/javascript"></script>
    <script src="~/Scripts/View/cards.js" type="text/javascript"></script>
    <script>
        $('body').addClass('img-header-RFID');
    </script>
}

<div id="report" class="report-wide">
    <div id="tabs-cards">
        <ul>
            <li><a href="#tabs-cards-1" id="link-tabs-cars-list"></a></li>
            @*<li><a href="#tabs-cards-2" id="link-tabs-cars-user"></a></li>*@
        </ul>
        <div id="tabs-cards-1">
            @*<div id="table-panel"></div>*@
            @*<div class="ui-widget">
                <div class="ui-state-highlight ui-corner-all" style="padding: 10px; margin-top: 20px;">
                    <p>
                        <span class="ui-icon ui-icon-info" style="margin-right: 0.3em; float: left;"></span>
                        <strong>Hey!</strong> Sample ui-state-highlight style.
                    </p>
                </div>
            </div>*@
            <table class='display compact' id="table-list-cards" style="width:100%" cellpadding="0"></table>
        </div>
        @*<div id="tabs-cards-2">
            <table class='display compact' id="table-cargo-disl-operations" style="width:100%" cellpadding="0"></table>
        </div>*@
    </div>
</div>
