@{
    ViewBag.Title = "Система контроля ЦСМ";
    ViewBag.section = "АрселорМиттал Кривой Рог";
}

@section styles {
    @*<link rel="stylesheet" type="text/css" href="~/Content/homemenu.css">*@
}

@section scripts {
    <script>
        $('body').addClass('img-header-global-oil');
    </script>
}
<ul class="ca-menu">
    <li>
        <a href='@Url.Action("Receipts", "Home", new { Area = "" })'>
            <span class="ca-icon">j</span>
            <div class="ca-content">
                <h2 class="ca-main">Поступления</h2>
                <h3 class="ca-sub">Поступления масла на ЦСМ</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='@Url.Action("FuelSale", "Home", new { Area = "" })'>
            <span class="ca-icon">i</span>
            <div class="ca-content">
                <h2 class="ca-main">Выдача</h2>
                <h3 class="ca-sub">Выдача масла из ЦСМ</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='@Url.Action("RemainsTanks", "Home", new { Area = "" })'>
            <span class="ca-icon">Z</span>
            <div class="ca-content">
                <h2 class="ca-main">Остатки</h2>
                <h3 class="ca-sub">Инвентаризация остатков на ЦСМ</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='@Url.Action("Transfer", "Home", new { Area = "" })'>
            <span class="ca-icon">H</span>
            <div class="ca-content">
                <h2 class="ca-main">Перекачки</h2>
                <h3 class="ca-sub">Перекачка масла на ЦСМ</h3>
            </div>
        </a>
    </li>
</ul>

@*<div class="more">
        <ul>
            <li>@GlobalResource.home_more_link:</li>
            <li><a href='@Url.Action("CardsAdmin", "Home")'>@GlobalResource.home_link_RFID_cards_adm</a></li>
            @*<li><a href="#">....</a></li>
                <li><a href="#">....</a></li>
        </ul>
    </div>*@

