@using WebUI.App_GlobalResources;
@{
    ViewBag.Title = @GlobalResource.home_title;
    ViewBag.section = @GlobalResource.home_info_day_report_azs;
}

@section styles {
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/View/info_day_report.css">

}

@section scripts {
    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/View/common.js" type="text/javascript"></script>
    <script src="~/Scripts/View/azs_info_day_report.js" type="text/javascript"></script>
    <script>
        $('body').addClass('img-header-fuelsales');
    </script>
}


@*<iframe id="txtArea1" style="display:none"></iframe>*@

<div id="report">
    <div id="table-panel">
    </div>
    <div id="tabs-reports">
        <ul>
            <li><a href="#tabs-report-1" id="link-tabs-report-1"></a></li>
            <li><a href="#tabs-report-2" id="link-tabs-report-2"></a></li>
        </ul>
        <div id="tabs-report-1">
            <div id="" align=center>
                <table id="table-report-1" border=0 cellpadding=0 cellspacing=0 width=989 style='border-collapse:collapse;table-layout:fixed;width:743pt'>
                    @*<thead>*@
                        <col width=24 style='mso-width-source:userset;mso-width-alt:877;width:18pt'>
                        <col width=51 style='mso-width-source:userset;mso-width-alt:1865;width:38pt'>
                        <col width=120 style='mso-width-source:userset;mso-width-alt:4388;width:90pt'>
                        <col width=81 span=2 style='mso-width-source:userset;mso-width-alt:2962;width:61pt'>
                        <col width=92 span=2 style='mso-width-source:userset;mso-width-alt:3364;width:69pt'>
                        <col class=xl7320875 width=98 style='mso-width-source:userset;mso-width-alt: 3584;width:74pt'>
                        <col width=103 style='mso-width-source:userset;mso-width-alt:3766;width:77pt'>
                        <col width=93 style='mso-width-source:userset;mso-width-alt:3401;width:70pt'>
                        <col width=108 style='mso-width-source:userset;mso-width-alt:3949;width:81pt'>
                        <col width=46 style='mso-width-source:userset;mso-width-alt:1682;width:35pt'>
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl6320875 width=24 style='height:15.0pt;width:18pt'>&nbsp;</td>
                            <td colspan=6 rowspan=4 class=xl8520875 width=517 style='border-right:.5pt solid black;border-bottom:.5pt solid black;width:388pt'>
                                Довідка про зведені за добу
                                підсумкові облікові дані щодо обсягів обігу (отримання/відпуску) та залишків
                                пального на акцизному складі пального<font class="font620875"><sup> 1</sup></font>
                            </td>
                            <td class=xl7220875 width=98 style='border-left:none;width:74pt'>01.1</td>
                            <td colspan=2 class=xl6720875 width=196 style='border-right:.5pt solid black;width:147pt'>
                                основна
                            </td>
                            <td colspan=2 class=xl6720875 width=154 style='border-right:.5pt solid black;border-left:none;width:116pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                            <td height=20 class=xl6420875 width=24 style='height:15.0pt;width:18pt'>1</td>
                            <td class=xl7220875 width=98 style='border-top:none;border-left:none;width:74pt'>
                                01.2
                            </td>
                            <td colspan=2 class=xl6720875 width=196 style='border-right:.5pt solid black;width:147pt'>
                                коригуюча
                            </td>
                            <td colspan=2 class=xl6720875 width=154 style='border-right:.5pt solid black;border-left:none;width:116pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=34 style='mso-height-source:userset;height:25.5pt'>
                            <td height=34 class=xl6520875 width=24 style='height:25.5pt;width:18pt'>&nbsp;</td>
                            <td class=xl7220875 width=98 style='border-top:none;border-left:none;width:74pt'>
                                01.3
                            </td>
                            <td colspan=2 class=xl6720875 width=196 style='border-right:.5pt solid black;width:147pt'>
                                дата складання коригуючої довідки
                            </td>
                            <td colspan=2 class=xl6720875 width=154 style='border-right:.5pt solid black;border-left:none;width:116pt'>
                                ДД ММ РРРР
                            </td>
                        </tr>
                        <tr height=34 style='mso-height-source:userset;height:25.5pt'>
                            <td height=34 class=xl6620875 width=24 style='height:25.5pt;width:18pt'>&nbsp;</td>
                            <td class=xl7220875 width=98 style='border-top:none;border-left:none;width:74pt'>
                                01.4
                            </td>
                            <td colspan=2 class=xl6720875 width=196 style='border-right:.5pt solid black;width:147pt'>
                                порядковий номер коригуючої довідки
                            </td>
                            <td colspan=2 class=xl6720875 width=154 style='border-right:.5pt solid black;border-left:none;width:116pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                            <td rowspan=2 height=40 class=xl7720875 width=24 style='border-bottom:.5pt solid black;height:30.0pt;border-top:none;width:18pt'>
                                2
                            </td>
                            <td colspan=6 rowspan=2 class=xl7920875 width=517 style='border-right:.5pt solid black;border-bottom:.5pt solid black;width:388pt'>
                                Звітна доба
                            </td>
                            <td class=xl7220875 width=98 style='border-top:none;border-left:none;width:74pt'>
                                02.1
                            </td>
                            <td colspan=2 class=xl6720875 width=196 style='border-right:.5pt solid black;width:147pt'>
                                початок звітної доби
                            </td>
                            <td colspan=2 class=xl6720875 width=154 style='border-right:.5pt solid black;border-left:none;width:116pt'>
                                ДД ММ РРРР ГГ:ХВ
                            </td>
                        </tr>
                        <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                            <td height=20 class=xl7220875 width=98 style='height:15.0pt;border-top:none;border-left:none;width:74pt'>
                                02.2
                            </td>
                            <td colspan=2 class=xl6720875 width=196 style='border-right:.5pt solid black;width:147pt'>
                                кінець звітної доби
                            </td>
                            <td colspan=2 class=xl6720875 width=154 style='border-right:.5pt solid black;border-left:none;width:116pt'>
                                ДД ММ РРРР ГГ:ХВ
                            </td>
                        </tr>
                        <tr height=24 style='mso-height-source:userset;height:18.0pt'>
                            <td height=24 class=xl6820875 width=24 style='height:18.0pt;border-top:none;width:18pt'>
                                3
                            </td>
                            <td colspan=7 class=xl6720875 width=615 style='border-right:.5pt solid black;border-left:none;width:462pt'>
                                Реєстраційний номер основної довідки<font class="font720875"><sup> 2</sup></font><font class="font520875">
                                    (заповнюється для коригуючої довідки)
                                </font>
                            </td>
                            <td colspan=4 class=xl9420875 width=350 style='border-right:.5pt solid black;width:263pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                            <td rowspan=2 height=40 class=xl7720875 width=24 style='border-bottom:.5pt solid black;height:30.0pt;border-top:none;width:18pt'>
                                4
                            </td>
                            <td colspan=2 rowspan=2 class=xl7920875 width=171 style='border-right:.5pt solid black;border-bottom:.5pt solid black;width:128pt'>
                                Суб'єкт господарювання
                            </td>
                            <td class=xl7220875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                04.1
                            </td>
                            <td colspan=4 class=xl9420875 width=363 style='border-right:.5pt solid black;width:273pt'>
                                юридична особа
                            </td>
                            <td colspan=4 class=xl9420875 width=350 style='border-right:.5pt solid black;width:263pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl7220875 width=81 style='height:15.0pt;border-top:none;border-left:none;width:61pt'>
                                04.2
                            </td>
                            <td colspan=4 class=xl9420875 width=363 style='border-right:.5pt solid black;width:273pt'>
                                фізична особа - підприємець
                            </td>
                            <td colspan=4 class=xl9420875 width=350 style='border-right:.5pt solid black;width:263pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=24 style='mso-height-source:userset;height:18.0pt'>
                            <td height=24 class=xl6820875 width=24 style='height:18.0pt;border-top:none;width:18pt'>
                                5
                            </td>
                            <td colspan=7 class=xl6720875 width=615 style='border-right:.5pt solid black;border-left:none;width:462pt'>
                                Податковий номер платника податків або серія
                                (за наявності) та номер паспорта<font class="font720875"><sup> 3</sup></font>
                            </td>
                            <td colspan=4 class=xl9420875 width=350 style='border-right:.5pt solid black;width:263pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td rowspan=2 height=40 class=xl7720875 width=24 style='border-bottom:.5pt solid black;height:30.0pt;border-top:none;width:18pt'>
                                6
                            </td>
                            <td colspan=7 class=xl6720875 width=615 style='border-right:.5pt solid black;border-left:none;width:462pt'>
                                Найменування або прізвище, ім'я, по батькові
                                (за наявності)
                            </td>
                            <td colspan=4 class=xl9420875 width=350 style='border-right:.5pt solid black;width:263pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td colspan=11 height=20 class=xl6720875 width=965 style='border-right:.5pt solid black;height:15.0pt;border-left:none;width:725pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=24 style='mso-height-source:userset;height:18.0pt'>
                            <td height=24 class=xl6820875 width=24 style='height:18.0pt;border-top:none;width:18pt'>
                                7
                            </td>
                            <td colspan=7 class=xl6720875 width=615 style='border-right:.5pt solid black;border-left:none;width:462pt'>
                                Уніфікований номер акцизного складу<font class="font720875"><sup> 4</sup></font>
                            </td>
                            <td colspan=4 class=xl9420875 width=350 style='border-right:.5pt solid black;width:263pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=39 style='mso-height-source:userset;height:29.25pt'>
                            <td height=39 class=xl6920875 align=right width=24 style='height:29.25pt;border-top:none;width:18pt'>
                                8
                            </td>
                            <td colspan=11 class=xl9520875 width=965 style='border-right:.5pt solid black;border-left:none;width:725pt'>
                                Таблиця 1. Інформація щодо обсягів залишків
                                пального за кодами товарної підкатегорії згідно з <font class="font920875">
                                    УКТ
                                    ЗЕД
                                </font><font class="font820875">
                                    на початок та кінець звітної доби у
                                    розрізі резервуарів, розташованих на акцизному складі пального, за
                                    показниками рівнемірів (літри, приведені до температури 15° C)
                                </font>
                            </td>
                        </tr>
                        <tr height=30 style='mso-height-source:userset;height:22.5pt'>
                            <td height=30 class=xl7020875 width=24 style='height:22.5pt;width:18pt'>&nbsp;</td>
                            <td rowspan=3 class=xl7720875 width=51 style='border-bottom:.5pt solid black;border-top:none;width:38pt'>
                                N рядка
                            </td>
                            <td rowspan=3 class=xl7720875 width=120 style='border-bottom:.5pt solid black;border-top:none;width:90pt'>
                                Код пального за кодом товарної підкатегорії
                                згідно з УКТ ЗЕД (10 знаків)
                            </td>
                            <td rowspan=3 class=xl7720875 width=81 style='border-bottom:.5pt solid black;border-top:none;width:61pt'>
                                Опис пального за кодом товарної підкатегорії
                                згідно з УКТ ЗЕД
                            </td>
                            <td rowspan=3 class=xl7720875 width=81 style='border-bottom:.5pt solid black;border-top:none;width:61pt'>
                                Ознака зміни <font class="font1020875">УКТ ЗЕД</font><font class="font520875">
                                    у зв'язку зі зміною хімічного складу пального в
                                    резервуарі 5
                                </font>
                            </td>
                            <td rowspan=3 class=xl7720875 width=92 style='border-bottom:.5pt solid black;border-top:none;width:69pt'>
                                Уніфікований номер резервуара
                            </td>
                            <td rowspan=3 class=xl7920875 width=92 style='border-bottom:.5pt solid black;border-top:none;width:69pt'>
                                Серійний (ідентифікаційний) номер рівнеміра
                            </td>
                            <td colspan=4 class=xl7920875 width=402 style='border-right:.5pt solid black;width:302pt'>
                                Обсяги залишків пального у резервуарах
                            </td>
                            <td rowspan=3 class=xl7720875 width=46 style='border-bottom:.5pt solid black;border-top:none;width:35pt'>
                                Тип дії (1/2)<font class="font720875"><sup> 7</sup></font>
                            </td>
                        </tr>
                        <tr height=46 style='mso-height-source:userset;height:34.5pt'>
                            <td height=46 class=xl7020875 width=24 style='height:34.5pt;width:18pt'>&nbsp;</td>
                            <td colspan=2 class=xl6720875 width=201 style='border-right:.5pt solid black;width:151pt'>
                                за показниками рівнемірів
                            </td>
                            <td colspan=2 class=xl6720875 width=201 style='border-right:.5pt solid black;border-left:none;width:151pt'>
                                за показниками інших вимірювальних приладів<font class="font720875"><sup> 6</sup></font>
                            </td>
                        </tr>
                        <tr height=76 style='mso-height-source:userset;height:57.0pt'>
                            <td height=76 class=xl7020875 width=24 style='height:57.0pt;width:18pt'>&nbsp;</td>
                            <td class=xl6720875 width=98 style='border-top:none;width:74pt'>
                                обсяг залишку
                                пального в резервуарі на початок доби
                            </td>
                            <td class=xl6820875 width=103 style='border-top:none;width:77pt'>
                                обсяг
                                залишку пального в резервуарі на кінець доби
                            </td>
                            <td class=xl6820875 width=93 style='border-top:none;border-left:none;width:70pt'>
                                обсяг залишку пального в резервуарі на початок доби
                            </td>
                            <td class=xl6820875 width=108 style='border-top:none;border-left:none;width:81pt'>
                                обсяг залишку пального в резервуарі на кінець доби
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl7020875 width=24 style='height:15.0pt;width:18pt'>&nbsp;</td>
                            <td class=xl7420875 width=51 style='border-top:none;border-left:none;width:38pt'>
                                08.1
                            </td>
                            <td class=xl7520875 width=120 style='border-top:none;border-left:none;width:90pt'>
                                08.2
                            </td>
                            <td class=xl7420875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                08.3
                            </td>
                            <td class=xl7420875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                08.4
                            </td>
                            <td class=xl7420875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                08.5
                            </td>
                            <td class=xl7420875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                08.6
                            </td>
                            <td class=xl7420875 width=98 style='border-top:none;border-left:none;width:74pt'>
                                08.7
                            </td>
                            <td class=xl7420875 width=103 style='border-top:none;border-left:none;width:77pt'>
                                08.8
                            </td>
                            <td class=xl7420875 width=93 style='border-top:none;border-left:none;width:70pt'>
                                08.9
                            </td>
                            <td class=xl7420875 width=108 style='border-top:none;border-left:none;width:81pt'>
                                08.10
                            </td>
                            <td class=xl7420875 width=46 style='border-top:none;border-left:none;width:35pt'>
                                08.11
                            </td>
                        </tr>
                    @*</thead>
                    <tbody>*@
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl7020875 width=24 style='height:15.0pt;width:18pt'>&nbsp;</td>
                            <td class=xl7420875 width=51 style='border-top:none;border-left:none;width:38pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=120 style='border-top:none;border-left:none;width:90pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=81 style='border-top:none;width:61pt'>&nbsp;</td>
                            <td class=xl7420875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=98 style='border-top:none;width:74pt'>&nbsp;</td>
                            <td class=xl7420875 width=103 style='border-top:none;width:77pt'>&nbsp;</td>
                            <td class=xl7420875 width=93 style='border-top:none;border-left:none;width:70pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=108 style='border-top:none;border-left:none;width:81pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=46 style='border-top:none;border-left:none;width:35pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl7020875 width=24 style='height:15.0pt;width:18pt'>&nbsp;</td>
                            <td class=xl7420875 width=51 style='border-top:none;border-left:none;width:38pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=120 style='border-top:none;border-left:none;width:90pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=81 style='border-top:none;width:61pt'>&nbsp;</td>
                            <td class=xl7420875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=98 style='border-top:none;width:74pt'>&nbsp;</td>
                            <td class=xl7420875 width=103 style='border-top:none;width:77pt'>&nbsp;</td>
                            <td class=xl7420875 width=93 style='border-top:none;border-left:none;width:70pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=108 style='border-top:none;border-left:none;width:81pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=46 style='border-top:none;border-left:none;width:35pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl7020875 width=24 style='height:15.0pt;width:18pt'>&nbsp;</td>
                            <td class=xl7420875 width=51 style='border-top:none;border-left:none;width:38pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=120 style='border-top:none;border-left:none;width:90pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=81 style='border-top:none;width:61pt'>&nbsp;</td>
                            <td class=xl7420875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=98 style='border-top:none;width:74pt'>&nbsp;</td>
                            <td class=xl7420875 width=103 style='border-top:none;width:77pt'>&nbsp;</td>
                            <td class=xl7420875 width=93 style='border-top:none;border-left:none;width:70pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=108 style='border-top:none;border-left:none;width:81pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=46 style='border-top:none;border-left:none;width:35pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl7020875 width=24 style='height:15.0pt;width:18pt'>&nbsp;</td>
                            <td class=xl7420875 width=51 style='border-top:none;border-left:none;width:38pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=120 style='border-top:none;border-left:none;width:90pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=81 style='border-top:none;width:61pt'>&nbsp;</td>
                            <td class=xl7420875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=98 style='border-top:none;width:74pt'>&nbsp;</td>
                            <td class=xl7420875 width=103 style='border-top:none;width:77pt'>&nbsp;</td>
                            <td class=xl7420875 width=93 style='border-top:none;border-left:none;width:70pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=108 style='border-top:none;border-left:none;width:81pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=46 style='border-top:none;border-left:none;width:35pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl7020875 width=24 style='height:15.0pt;width:18pt'>&nbsp;</td>
                            <td class=xl7420875 width=51 style='border-top:none;border-left:none;width:38pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=120 style='border-top:none;border-left:none;width:90pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=81 style='border-top:none;width:61pt'>&nbsp;</td>
                            <td class=xl7420875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=98 style='border-top:none;width:74pt'>&nbsp;</td>
                            <td class=xl7420875 width=103 style='border-top:none;width:77pt'>&nbsp;</td>
                            <td class=xl7420875 width=93 style='border-top:none;border-left:none;width:70pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=108 style='border-top:none;border-left:none;width:81pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=46 style='border-top:none;border-left:none;width:35pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl7020875 width=24 style='height:15.0pt;width:18pt'>&nbsp;</td>
                            <td class=xl7420875 width=51 style='border-top:none;border-left:none;width:38pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=120 style='border-top:none;border-left:none;width:90pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=81 style='border-top:none;width:61pt'>&nbsp;</td>
                            <td class=xl7420875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl7220875 width=98 style='border-top:none;width:74pt'>&nbsp;</td>
                            <td class=xl7420875 width=103 style='border-top:none;width:77pt'>&nbsp;</td>
                            <td class=xl7420875 width=93 style='border-top:none;border-left:none;width:70pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=108 style='border-top:none;border-left:none;width:81pt'>
                                &nbsp;
                            </td>
                            <td class=xl7420875 width=46 style='border-top:none;border-left:none;width:35pt'>
                                &nbsp;
                            </td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td height=20 class=xl7120875 width=24 style='height:15.0pt;width:18pt'>&nbsp;</td>
                            <td class=xl6820875 width=51 style='border-top:none;border-left:none;width:38pt'>
                                &nbsp;
                            </td>
                            <td class=xl6820875 width=120 style='border-top:none;border-left:none;width:90pt'>
                                &nbsp;
                            </td>
                            <td class=xl6720875 width=81 style='border-top:none;border-left:none;width:61pt'>
                                &nbsp;
                            </td>
                            <td class=xl6820875 width=81 style='border-top:none;width:61pt'>&nbsp;</td>
                            <td class=xl6820875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl6720875 width=92 style='border-top:none;border-left:none;width:69pt'>
                                &nbsp;
                            </td>
                            <td class=xl6720875 width=98 style='border-top:none;width:74pt'>&nbsp;</td>
                            <td class=xl6820875 width=103 style='border-top:none;width:77pt'>&nbsp;</td>
                            <td class=xl6820875 width=93 style='border-top:none;border-left:none;width:70pt'>
                                &nbsp;
                            </td>
                            <td class=xl6820875 width=108 style='border-top:none;border-left:none;width:81pt'>
                                &nbsp;
                            </td>
                            <td class=xl6820875 width=46 style='border-top:none;border-left:none;width:35pt'>
                                &nbsp;
                            </td>
                        </tr>
                    @*</tbody>*@
                </table>


                @*<table class='display compact' id="table-report-1" style="width:100%" cellpadding="0">*@
                    @*<tfoot>
                            <tr>
                                <th colspan="6" class="title-foot">ИТОГО ДТ: </th>
                                <td class="total-foot" id="volume"></td>
                                <td class="total-foot" id="mass"></td>
                                <td></td>
                                <td class="total-foot" id="volume15"></td>
                                <td class="total-foot" id="mass15"></td>
                                <td></td>
                            </tr>
                        </tfoot>*@
                </table>
            </div>
        </div>
        <div id="tabs-report-2">
            <table class='display compact' id="table-report-2" style="width:100%" cellpadding="0"></table>
        </div>
    </div>

</div>









